<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Главная страница</title>
</head>
<body>

    <div class="container">
        <nav>
            <div class="photo">
                <img src="#" alt="Мое фото">
            </div>
            <ul class="nav_list">
                <li>О себе</li>
                <li>Контакты</li>
            </ul>
        </nav>
    </div>
    {% if user.is_authenticated %}
    <form metod="POST" class="post-form">
        {% csrf_token %}
        {{ form.as_p}}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
    <br> {{pst}}
    <br>

    {% endif %}
        {% for post in pst  %}
        <a href="/post/{{post.id}}">
            <h1> {{ post.title }} </h1>
        </a>
            {{post.text}}
    {% endfor %}
{{user.username}}

</body>
</html>
